.fileList {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    .header {
        background: #cff4fc;
        grid-template-columns: 2fr repeat(3, 1fr);
        display: grid;

        list-style: none;

        li {
            border: none;
            width: 200px;
            display: flex;
            justify-content: space-between;

            &:first-child {
                width: 400px;
                justify-self: start
            }

            ;

            &:nth-child(2n+2) {
                justify-self: center;
            }

            &:nth-child(2n+3) {
                justify-self: center;
            }

            &:last-child {
                justify-self: end;
            }

            ;
        }
    }
}

.list{

}

.listPlate{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.animEnterActive {
    animation: animEnter 5000ms forwards;
}

@keyframes animEnter {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}