.wrapper{
 display: flex;
 flex-direction: column;
 padding: 0;
 .top{
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  margin-bottom: 0.5px;
  cursor: pointer
 }
 .bottom{
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  margin-top: 0.5px;
  cursor: pointer
 }
}